In [1]:
## to study the various data structure require for data science tool
##10 data types
## 1)number: number are the data types whicg is used performance many operation on the mainly number it contain integer , float, complex number

In [3]:
#example
a=int(input("enter the first no.:"))
b=int(input("enter the second no.:"))
c=int(input("enter the third no.:"))
d=a+b+c
print(d)

enter the first no.:1
enter the second no.:2
enter the third no.:3
6

In [2]:
## 2)list
my_list = ['p','r','o','g','r','a','m']

print(my_list[2:5])

print(my_list[5:])

print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [4]:
## 3) string
str1 = "Hello, world!"
str2 = "I love Python."
str3 = "Hello, world!"


print(str1 == str2)

print(str1 == str3)

False
True

In [8]:
## 4)
dict = {"name":"danish",
"branch":"cse(ds)","roll no":46

}
print(dict)

{'name': 'danish', 'branch': 'cse(ds)', 'roll no': 46}

In [ ]:
# 5) tuples


my_tuple = ()
print(my_tuple)

my_tuple = (1, 2, 3)
print(my_tuple)

my_tuple = (1, "Hello", 3.4)
print(my_tuple)

my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

In [9]:
## 6)set
device={"device","data","science"}
print(device)
print(type(device))

{'device', 'data', 'science'}
<class 'set'>

In [12]:
## 7)comparison  operator
x=3
y=6
z=4
print(x==y)
print(y==z)
print(y<z)
print(z>x)
print(x!=z)
print(x!=y)
print(y<=z)
print(z>=x)

False
False
False
True
True
True
False
True

In [11]:
## 8)
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement is always executed')

Positive number
This statement is always executed

In [16]:
## 9) for loop
list= ["apple","banana","kiwi","watermelon"]
for x in list :
 print(x)

apple
banana
kiwi
watermelon

In [ ]:
## 10) while loop
i=0
a=int(input("how many times you run the loop??"))
while(i==a):
  print("this is while loop")
  i=i+1

In [26]:
## 11)range function
for i in range(1,21,2):

     print(i)

1
3
5
7
9
11
13
15
17
19

In [36]:
## 12) list comprehension
list1 = ["apple", "banana", "cherry", "kiwi", "mango","danish","atharva","jai"]
newlist = [x for x in list1 if "a" in x]

#for x in list1:
  #if "a" in x:
 #  newlist.append(x)

print(newlist)

['apple', 'banana', 'mango', 'danish', 'atharva', 'jai']

In [38]:
## 13)function
def name(fname):
  print(fname + " Refsnes")

name("Emil")
name("Tobias")
name("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [52]:
## 14) map and filter
data = [1, 2, 3, 4, 5]


result1 = map(lambda x: x * 2, data)  # Result: [2, 4, 6, 8, 10]

result2 = filter(lambda x: x % 2 == 0, data)  # Result: [2, 4]

from functools import reduce
result3 = reduce(lambda x, y: x * y, data)
print(result1)
print(result2)
print(result3)

<map object at 0x78c6357a5e10>
<filter object at 0x78c6357a51e0>
120

In [57]:
## 15) methods
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)
y = fruits.count(x)
print(y)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
0

In [59]:
list4 = ['apple', 'banana', 'cherry']

f=list4.reverse()
print(f)

None